h1{
    color: #334259;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
body{
    background-color: #edddd0;
}
footer, .blue{
    background-color: #a6cad4;
    text-align: center;
}
.flex{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: space-between;
}
.flex > p, img {
    max-width: 70%;
}
ul.bot-border{
    border-bottom: #334259 solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 600px) {
    
}
