h1{
    color: #334259;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-top: 0;
}
h2{
    font-size: 1.5em;
}
body{
    background-color: #edddd0;
}
footer{
    background-color: #a6cad4;
    text-align: center;
}
nav{
    background-color: #a6cad4;
    text-align: center;
    display: grid;
    grid-template-rows: 0fr 1.5em;
    padding-bottom: 10px;
}

blue{
    background-color: #a6cad4;
    text-align: center;
}
.flex{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: space-between;
}
.flex > p, img {
    max-width: 70%;
}
ul.bot-border{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul > li{
    border-bottom: #a6cad4 solid 2px;
}

@media screen and (min-width: 600px) {
    li{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    nav{
        background-color: #a6cad4;
        display: block;
    }
}
